* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(1, 1, 99);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32vh;
    color: white;
    text-shadow: 5px 5px 5px black;
}

.digitalclock {
    display: flex;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#day {
    padding-right: 10px;
}

footer {
    padding-top: 100px;
}

@media only screen and (max-width: 415px) {
    body {
        gap: 0;
    }
    .digitalclock {
        align-items: center;
        flex-direction: column;
        font-size: 61px;
    }
    footer {
        padding-top: 50px;
    }
    #day {
        padding-left: 12px;
    }
}